body,
h1,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #29272a;
  color: #333;
  text-align: center;
  padding: 20px;
}


h1 {
  font-size: 2em;
  color: #4a90e2;
  margin-bottom: 20px;
  border: 5px dashed rgb(139, 219, 253);
}

.work{
  list-style: none;
  padding: 0;
  margin: 20px 0;
}


li {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

li strong {
  color: #4a90e2;
}

li:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}

li:not(:last-child) {
  margin-bottom: 30px;
}
